/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
.reveal .slides #sec-title-slide h1, .reveal .slides #sec-title-slide h2, .reveal .slides #sec-title-slide h3, .reveal .slides #sec-title-slide div, .reveal .slides #sec-title-slide ul, .reveal .slides .title h1, .reveal .slides .title h2, .reveal .slides .title h3, .reveal .slides .title div, .reveal .slides .title ul {
  color: white; }

.reveal .slides .pdf-page .slide-background {
  background-size: contain; }

.reveal .slides .pdf-page [data-background-hash*="segue"] {
  background-size: cover; }

.reveal .slides .pdf-page .title {
  background-color: black; }

.reveal .slides #sec-title-slide h4, .reveal .slides .title h4 {
  color: #2fb787; }

.reveal .slides .cite {
  font-size: 70%;
  color: darkgrey;
  text-align: right; }

.reveal .slides .fa-ul {
  list-style-type: none;
  padding-left: 10%; }

.reveal .slides ol, .reveal .slides ul {
  list-style-position: inside; }

.reveal .slides section {
  text-align: left; }
  .reveal .slides section h1, .reveal .slides section h2, .reveal .slides section h3, .reveal .slides section h4 {
    text-align: center;
    display: block;
    width: 100%; }

.reveal .slides .twocols {
  column-count: 2; }

.reveal .slides .small {
  font-size: 70%; }

.reveal .slides .green {
  color: #2fb787; }

.reveal .slides .white {
  color: white; }

.reveal .slides .bold {
  font-weight: 700; }

.reveal .slides table {
  border-top: 3px solid;
  border-bottom: 3px solid; }
  .reveal .slides table thead {
    border-bottom: 2px solid; }
  .reveal .slides table tr, .reveal .slides table td {
    border: none; }

.reveal .slides .figure {
  text-align: center;
  width: 100%;
  height: 100%; }
  .reveal .slides .figure p {
    margin: 0; }
  .reveal .slides .figure img {
    border: none;
    box-shadow: none;
    margin: none; }
  .reveal .slides .figure img, .reveal .slides .figure object {
    width: 100%;
    max-height: 100%; }

.reveal .slides .fullscreen * {
  text-align: left; }

.reveal .slides ul, .reveal .slides ol, .reveal .slides dl {
  margin: 0; }

.reveal .slides .twocols img, .reveal .slides .twocols object {
  width: 100%; }

.reveal .slides .stretch img, .reveal .slides .stretch object {
  width: 100%;
  max-height: 99%; }

body:not(.print-pdf) .backgrounds {
  background-image: linear-gradient(0deg, #2fb787, #2fb787 1em, white 1em);
  background-repeat: no-repeat; }
  body:not(.print-pdf) .backgrounds > .slide-background {
    height: calc(100% - 1em); }
  body:not(.print-pdf) .backgrounds [data-background-hash] {
    background-size: contain; }
  body:not(.print-pdf) .backgrounds [data-background-hash*="segue"] {
    background-color: #2fb787;
    background-position: top right; }
  body:not(.print-pdf) .backgrounds > div:first-child:empty, body:not(.print-pdf) .backgrounds [data-background-hash*="title"] {
    background-position: top left, top right;
    background-size: 20%, 25%;
    background-image: url("./images/data61-logo-black.png"), url("./images/anu-logo-white.png");
    background-color: black; }

.print-pdf #sec-title-slide .slide-background {
  background-position: top left, top right;
  background-size: 20%, 25%;
  background-image: url("./images/data61-logo-black.png"), url("./images/anu-logo-white.png");
  background-color: black; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: black; }

::selection {
  color: #fff;
  background: #86e0c0;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #86e0c0;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: black;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: white;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3em; }

.reveal h2 {
  font-size: 2em; }

.reveal h3 {
  font-size: 1.5em; }

.reveal h4 {
  font-size: 1.25em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2fb787;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #5dd5ab;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1f7a5a; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2fb787;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2fb787; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2fb787; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

pre.src {
    background: #FDF6E3;
}
