@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Fit the Monash M on the LHS of the title page */
#sec-title-slide, .reveal section.title
{
    left: 20%;
    max-width: 90%;
}

section.title ul, section.title ol
{
    margin-bottom: 2ex;
}

#sec-title-slide
{
    font-size: smaller;
}

#sec-title-slide *, .reveal section.title *
{
    color: white;
}

#sec-title-slide a, .reveal section.title a
{
    color: orange;
}

#sec-title-slide a:hover, .reveal section.title a:hover
{
    color: gold;
}

#sec-title-slide blockquote, .reveal section.title blockquote
{
    width: 90%;
    text-align: right;
    /* margin-left: 10%; */
    padding-right: 1em;
}

.reveal section a
{
    text-decoration: underline dashed;
}

.reveal section a:hover
{
    text-decoration: none;
}

#sec-title-slide img
{
    width: 50%;
}

.reveal .contact
{
    list-style-type: none;
}

.reveal ul.contact > li > i
{
    vertical-align: middle;
}

/* div.slide-background:nth-child(1) > div:nth-child(1) */
/* .backgrounds:first-child:first-child */
/* { */
/*     background-position: left; */
/* } */

/* div.stack:nth-child(2) */
.reveal .backgrounds
/* html.reveal-full-page body.reveal-viewport div.reveal.none.center.focused.has-vertical-slides.has-horizontal-slides.ready div.backgrounds div.slide-background.stack.present */
{
    background-image: url("images/angular-layers-blue-micro-banner.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 320px;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
.reveal {
  font-family: Roboto Slab, sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: black;
}

b, dt
{
    color: #9651A0;
}

i
{
    color: #746FB2;
}

.reveal section.full *
{
    margin: 0px;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 2ex 0;
  color: #006DAE;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: .025em;
  text-transform: uppercase;
  text-shadow: white;
  word-wrap: break-word; }

.reveal .slides .figure
{
  max-height: 90%;
}
.reveal .slides .figure *
{
  margin: 0;
  text-align: center;
  /* width: 100%; */
  object-fit: contain;
}
.reveal .slides .figure img
{
    border: none;
    box-shadow: none;
    margin: none;
}
.reveal .slides .figure img.wide , .reveal .slides .figure object.wide
{
    width: 100%;
    max-height: 100%;
}

.reveal .slides .figure img.tall , .reveal .slides .figure object.tall
{
    /* width: 100%; */
    height: 100%;
    max-width: 100%;
}

/* Layout and common classes */
.reveal .slides .twocols
{
  column-count: 2;
}

.reveal .slides .small
{
  font-size: 70%;
}

.reveal .slides .white
{
  color: white;
}

.reveal .slides .org-right
{
  text-align: right;
}
